<div class="ui container">  
  <h2 class="ui horizontal divider header">
      <i class="users chart icon"></i>
      Usuários
  </h2>
  <a [routerLink]="['/users/new']" class="ui primary basic button">
    <i class="icon user"></i>
    Novo Usuário
  </a>
  <div class="list">
    <br>
      <div class="ui items">
          <ng-container *ngFor="let user of collection | paginate: { itemsPerPage: 5, currentPage: p }">
            <div #n1 [id]="user.id" class="item">
              <a [routerLink]="['/users/edit', user.id]" class="ui tiny image">
                <img [src]="user.foto != '' ? user.foto : '/assets/imagens/avatar/user-profile-default.png' ">
              </a>
              <div class="content">
                <a [routerLink]="['/users/edit', user.id]" class="header">{{ user.nome }}</a>
                <div class="description">
                  <div class="ui grid">
                    <div class="thirteen wide column">
                      <p>{{user.email}} <br>  
                        <span [innerHTML]="user.tipoUsuario"></span></p>                          
                    </div>
                    <div class="three wide column">
                      <button class="ui icon button right floated negative" (click)="excluir(user.id, user.nome)">
                        <i class="trash alternate icon"></i>
                       </button>  
                       <button class="ui icon button right floated teal" [routerLink]="['/users/edit', user.id]">
                         <i class="edit outline icon"></i>
                        </button>  
                    </div>
                  </div>                
                </div>            
                                                      
              </div>
              <hr>        
            </div>     
          </ng-container>                           
        </div> <!--fim do loop--> 
        
    <pagination-controls maxSize="7" previousLabel="Anterior" nextLabel="Próxima" (pageChange)="p = $event"></pagination-controls>
  </div>
</div>  