<link rel="stylesheet" href="https://unpkg.com/semantic-ui-calendar/dist/calendar.min.css">
<div class="ui container">  
  <h2 class="ui horizontal divider header">
      <i class="users chart icon"></i>
       Novo Usuário
  </h2>
  <form autocomplete="off" [formGroup]="formNovoUsuario" class="ui form" (ngSubmit)="validarFormulario()">
    <h4 class="ui dividing header">Informações Pessoais</h4> 
    <div class="ui small rounded fluid image">
        <img [src]="imageSrc || '/assets/imagens/avatar/user-profile-default.png'" 
        alt="Imagem de perfil" /> 
    </div>    
    <div class="two fields">
      <div class="field">
        <label for="foto">Foto</label>
        <input type="file" id="foto" (change)="readURL($event);" formControlName="foto">
      </div>
      <div class="required field">
        <label for="nome">Nome</label>
        <input type="text" id="nome"  placeholder="Nome Completo" formControlName="nome">
      </div>
    </div>      
    <div class="two fields">
      <div class="required field">
        <label for="email">E-mail</label>
        <input type="text" id="email" placeholder="Digite seu E-mail" formControlName="email">
      </div>
      <div class="field">
        <label for="celular">Celular</label>
        <input type="text" id="celular" placeholder="Ex: (11) 91234-5678" formControlName="celular">
      </div>
    </div>    
    <div class="two fields">       
      <div class="required field">
        <label for="data">Data de Nascimento</label>     
        <my-date-picker placeholder="Selecione uma data" locale="pt-br" 
        class="input-date" [options]="myDatePickerOptions"
        formControlName="dataNascimento"></my-date-picker> 
      </div> 
      <div class="required field">
        <label for="senha">Senha</label>
        <input type="password" #senha placeholder="Digite a senha" formControlName="senha">
      </div>
    </div>     
     <div class="two fields">
        <div class="required field">
          <label for="senha">Confirmação de Senha</label>
          <input type="password" (blur)="confirmarSenha()" placeholder="Confirme a senha" formControlName="confirmarSenha">
        </div>
     </div>
    
    <h4 class="ui dividing header">Informações Administrativas</h4>  
    <div class="six wide column required field">
        <label for="email">Tipo de Usuário</label>
        <sui-select class="selection" placeholder="Selecione" formControlName="tipoUsuario">
            <sui-select-option value="Aluno"></sui-select-option>
            <sui-select-option value="Editor"></sui-select-option>
            <sui-select-option value="Administrador"></sui-select-option>            
        </sui-select>
      </div>
      <small class="required">(*)  - Campos de preenchimento obrigatório.</small>
      <div class="ui info message">                     
          <div class="header">            
            Tipo de Usuários
          </div>
          <ul class="list">
            <li><b>Aluno</b> - Possui acesso para realizar os cursos em que está vinculado.</li>
            <li><b>Editor</b> - Permissão para editar, publicar conteúdos e extrair relatórios.</li>
            <li><b>Administrador</b> - Acesso em todas as áreas da aplicação.</li>
          </ul>
        </div>
      
    <button type="submit" class="ui button" tabindex="0">Cadastrar</button>    
  </form>
</div>

