/* You can add global styles to this file, and also import other style files */
html, body { height: auto; background-color: #F8F9FA; }

.geral {
    background: {
        color: #fff;
    }
    margin-bottom: 30px !important;
    padding: 5px !important;
}
input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
    background-color: #FFF6F6 !important;
    border-color: #E0B4B4!important;
    color: #9F3A38 !important;
}

input.ng-valid.ng-touched:not([data-login]), select.ng-valid.ng-touched:not([data-login]) {
    background-color:transparent !important;
    border-color: #21BA45 !important;    
}



.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}
